html {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(234, 205, 163), rgb(214, 174, 123));
}
* {
    font-family: Georgia, Garamond, sans-serif;
}
/* Images */
.image {
    width: 300px;
    height: auto;
    display: block;
    margin: 10px auto 50px;
}
/* */
.title {
    font-size: 30px;
}
.main {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}
.main-box {
    background-color: rgb(223, 223, 223);
    width: 400px;
    border: 1px solid gray;
    padding: 10px;
    margin: 50px auto;
}
.recipe-container {
    width: 700px;
    margin: 40px auto 30px;
    text-align: justify;
}
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(73, 73, 73);
    text-decoration: underline;
}
a:active {
    color: black;
    text-decoration: underline;
}
.button {
    margin-left: 320px;
}
